<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>{% include "head.html" %}</head>
<body>
<div id="top-include">{% include "top.html" %}</div>
<div id="left-include">{% include "left.html" %}</div>
<div id="center-include">{% include "center.html" %}</div>
<div id="right-include">{% include "right.html" %}</div>
<div id="bottom-include">{% include "bottom.html" %}</div>
</body>
</html>
