@import url('base.css');

#header-block {
    width: 100%;
    background: #ECE;
    padding: 1%;
}

#left-block {
    width: 20%;
    background: #CEE;
    float: left;
    padding: 1%;
}

#center-block {
    width: 54%;
    background: #CEC;
    float: left;
    padding: 1%;
}

#right-block {
    width: 20%;
    background: #EEC;
    float: left;
    padding: 1%;
}

#footer-block {
    width: 100%;
    background: #CCE;
    clear: both;
    padding: 1%;
}
