*.orig
*.pyc
*.sqlite
.project
.pydevproject
.settings
.installed.cfg
bin/*
downloads/*
eggs/*
develop-eggs/*
parts/*
example/*
manage_????????.py
settings_????????.py
urls_????????.py
redsolutioncms/parts/*

