{% extends "redsolutioncms/base.html" %}
{% load i18n %}

{% block script %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
	$('#select_all').click(function(){
		$(':checkbox').attr('checked','checked');
		return false;
	});
	$('#select_none').click(function(){
		$(':checkbox').removeAttr('checked');
		return false;
	});
	// $('input:checkbox').bind('change', function(event){
	//     var status = $(this).attr('checked');
	//     var element_class = $(this).attr('class');
	//     $('.'+element_class).each(function(){
	//       $(this).attr('checked', status);});
	//   });
	$('.screenshots label').each(function(){
	  if ($(this).find('input:radio').length) {
	    var text = $(this).text();
	    var input = $(this).find('input:radio');
	    $(this).text('');
	    $(this).append(input).append('<img src="' + text + '" />');
	  }
	});
});
</script>

{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/">{% trans 'Start' %}</a> » 
<strong>{% trans 'Application list' %}</strong> »
{% trans 'Сonfiguration' %} »
{% trans 'Creating superuser' %}
</div>
{% endblock %}


{% block content %}
<form method="post" enctype="multipart/form-data" action="">
    <p>{% trans 'Select' %} <a href="#" link="self" id="select_all"> {% trans 'all' %}</a>
    <a href="#" link="self" id="select_none">{% trans 'none' %}</a>
    {{ formset.management_form }}
    {% for form in formset.forms %}
      <h2>{{ form.instance.verbose_name }}</h2>
      {% if form.instance.name == 'templates' %}
          <table class="screenshots">
            {{ form.as_table }}  
          </table>
      {% else %}
          <table>
            {{ form.as_table }}
          </table>
      {% endif %}
    {% endfor %}
    <input type="button" value="{% trans 'Back' %}" class="input-bg floated-button" onclick="javascript:document.location='{% url index %}';"/>
    <input type="submit" value="{% trans 'Next' %}" class="input-bg floated-button" />
</form>
{% endblock %}
