{% extends "admin/base.html" %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/media/css/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
{% block script %}{% endblock %}
{% endblock %}
{% block userlinks %}{% endblock %}
{% block branding %}
<div class="logo">
    <div class="logo-top">
      <a href="http://redsolutioncms.org/">
        <span class="red">red</span><span class="solution">solution</span>
      </a>
    </div>
    <div class="logo-bottom"><a href="http://redsolutioncms.org/">content management system</a></div>
</div>
{% endblock %}
