{% extends "redsolutioncms/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/">{% trans 'Start' %}</a> »
<a href="{% url apps %}">{% trans 'Application list' %}</a> »
<a href="{% url custom %}">{% trans 'Site config' %}</a> »
<strong>{% trans 'Creating superuser' %}</strong>
</div>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" action="">
    <table>
    {{ form }}
    </table>
    <p>{% trans 'Now we ready to initialize your project. To do it we will execute:' %}</p>
    <pre>
python {{ bootstrap }}
{{ buildout }} -c develop.cfg
{{ django }} syncdb --noinput
    </pre>
    <input type="button" value="{% trans 'Back' %}" class="input-bg floated-button" onclick="javascript:document.location='{% url custom %}';"/>
    <input type="submit" value="{% trans 'Next' %}" class="input-bg floated-button" />
    <input type="button" value="{% trans 'Skip' %}" class="input-bg floated-button" onclick="javascript:document.location='{% url done %}';"/>
</form>
{% endblock %}