{% extends "redsolutioncms/base.html" %}
{% load i18n %}

{% block content %}
<form method="post" enctype="multipart/form-data" action="">
    <table>
        <tr><th>{% trans 'Packages' %}</th><th>{% trans 'Settings' %}</th></tr>
        {% for package in cms_settings.packages.installed %}
            <tr>
                <td>{{ package.verbose_name }}</td>
                <td>
                {% for entry_point in package.entry_points.has_urls %}
                    <a href="{% url custom %}/{{ entry_point.module }}">{% trans 'Settings for' %} {{ entry_point.module }}</a></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    
    {{ frontpage_form.as_p }}
    <a href="{% url apps %}" class="button-link floated-button">{% trans 'Back' %}</a>
    <input type="submit" value="{% trans 'Make' %}" class="input-bg floated-button" />
</form>
{% endblock %}
