{% extends "redsolutioncms/base.html" %}
{% load i18n %}

{% block script %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
$('#id_database_engine').bind('change', function(){
 
  var dbname = $('#id_database_name').val();
  var pattern1 = /(\w+)\.\w+/;
  var pattern2 = /(\w+)\.sqlite/;
  
  if ($(this).val() == 'sqlite3') {
    if (!(dbname.match(pattern1))) {
      /* if dbname didn't look like file, add .sqlite extension */  
      $('#id_database_name').val(dbname + '.sqlite');
    }
    // Disable fields
    $('#id_database_user').attr('disabled', 'disabled');
    $('#id_database_password').attr('disabled', 'disabled');
    $('#id_database_host').attr('disabled', 'disabled');
    $('#id_database_port').attr('disabled', 'disabled');
  } else {
    /* otherwise, remove sqlite extensnion */
    if (dbname.match(pattern2)) {
      $('#id_database_name').val(dbname.match(pattern2)[1]);
    }
    // Enabled fields
    $('#id_database_user').removeAttr('disabled');
    $('#id_database_password').removeAttr('disabled');
    $('#id_database_host').removeAttr('disabled');
    $('#id_database_port').removeAttr('disabled');
  }
  // Set default values for database
    switch ($(this).val()){
      case 'postgresql':
      case 'postgresql_psycopg2':
          $('#id_database_port').attr('value', '5432');
          break;
      case 'mysql':
          $('#id_database_port').attr('value', '3306');
          break;
      case 'sqlite3':
          $('#id_database_user').attr('value', '');
          $('#id_database_password').attr('value', '');
          $('#id_database_host').attr('value', '');
          $('#id_database_port').attr('value', '');
          break;
    }
  
});
$('#id_project_name').bind('change', function(){
  $('#id_domain').val($(this).val() + '.com');
});
$('#id_database_engine').trigger('change');
});
</script>

{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/">{% trans 'Start' %}</a> »
{% trans 'Application list' %} »
{% trans 'Сonfiguration' %} »
{% trans 'Creating superuser' %}
</div>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" action="">
        <table id="start">
            {{ form.as_table }}
        </table>
    <input type="submit" value="{% trans 'Next' %}" class="input-bg floated-button" />
    </form>
{% endblock %}