{% extends "redsolutioncms/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
{% trans 'Redirect pending' %}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/media/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="http://redsolutioncms.org/tips.js"></script>
<script type="text/javascript">
var tips = [
    '<div class="tip">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>',
    '<div class="tip">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>',
    '<div class="tip">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>',
];

$(document).ready(function(){
    function ping() {
        $.ajax({
            type: 'POST',
            url: "{% url started %}",
            data: {task_id: "{{ start_task_id }}"},
            error: function(a, b, c) {
                setTimeout(ping, 1000);
            },             
            success: function(data) {
                window.location = "{{ redirect_to }}";
            }
        });
    }
    function restart() {
        $.ajax({
            type: 'POST',
            url: "{% url cancel_lock %}",
            data: { task_id: "{{ task_id }}"},
            error: function(data) {
                setTimeout(ping, 5000);
            },
            success: function(data) {
                setTimeout(ping, 5000);
            }
        });
    }
    restart();
    
    /*  tips  and tricks workaround */
    $('#tips').html(tips[0]);
    var number = 0;
    function next_tip(){
            number++;
            if (number == tips.length){number=0;};
            $('#tips').html(tips[number]);
            setTimeout(next_tip, 10000);
        };
    setTimeout(next_tip, 10000);
});
</script>
{% endblock %}

{% block content %}
  <img src="/media/img/loading.gif" /><p>{% trans 'Wait please...' %}</p>
  <div id="tips"></div>
{% endblock %}