.button-link {
	background: url(/media/img/nav-bg.gif) repeat-x center bottom;
	padding: 4px 5px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	color: #000 !important;
	font-family: "Lucida Grande",Verdana,Arial,sans-serif;
	font-size: 11px;
	cursor: default;
}

.floated-button {
	float: left;
	margin: 6px 6px 0 0;
}

.input-bg {
	background: url(/media/img/nav-bg.gif) repeat-x scroll center bottom;
	border-color: #DDDDDD #AAAAAA #AAAAAA #DDDDDD;
	border-style: solid;
	border-width: 1px;
	color: black;
	padding: 3px;
}

table#apps td {
	padding: 6px 0;
}

.help_text {
	color: #777;
	font-size: 11px;
	clear: both;
	margin-left: 24px;
}

.check {
	float: left;
}

.check input {
	width: 20px;
	vertical-align: top;
}

.check label {
	font-size: 16px;
	color: #000;
	margin-left: 4px;
}

table#start th label {
	vertical-align: middle;
}