.logo{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, Clean, sans-serif;
}

.logo-top {
  margin-top: 10px;
  margin-bottom: -7px;
  font-size: 38px;
  text-shadow: #545454 0px 2px 3px;
}

.logo-bottom{
  color: white;
  text-shadow: #545454 0px 2px 3px;
  font-size: 14px;
}

.logo .red{
    color: white;
}

.logo .solution {
    color: black;
}

.logo a {
  text-decoration:None !important;
  padding-left: 10px;
}

.django_logo{
  text-align:right;
}
