{% extends "grandma/base.html" %}
{% load i18n %}

{% block content %}
<form method="post" enctype="multipart/form-data" action="">
    <table>
        <tr><th>{% trans 'Application' %}</th><th>{% trans 'Settings' %}</th></tr>
        {% for application in grandma_settings.applications.all %}
            <tr>
                <td>{{ application.verbose_name }}</td>
                <td>
                {% for setup in application.setups.all %}
                    {% if setup.has_urls %}
                        <a href="{% url custom %}/{{ setup.module }}">{% trans 'Settings for' %} {{ setup.module }}</a></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <a href="{% url apps %}" class="button-link floated-button">{% trans 'Back' %}</a>
    <input type="submit" value="{% trans 'Make' %}" class="input-bg floated-button" />
</form>
{% endblock %}
